PORT=5000
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:5173

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=
DB_NAME=gymcontrol
DB_LOGGING=false

# JWT
JWT_SECRET=CHANGE_THIS_SECRET_KEY_IN_PRODUCTION
JWT_REFRESH_SECRET=CHANGE_THIS_REFRESH_SECRET_KEY_IN_PRODUCTION
JWT_EXPIRES_IN=8h
REFRESH_EXPIRES_IN=7d
